table {
    width: 100%;
    font-family: Raleway;
}

.t1{
    background-color: black;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5px;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
}





